{{define "title"}}Contact{{end}}

{{define "main"}}
<div class="flex flex-col items-center">
    <div class="w-full max-w-2xl px-2 md:px-0">
        <h2 class="text-center">Contact</h2>

        <div class="bg-white shadow-md rounded px-6 py-6 mb-4 space-y-4">
            <p>Blame the Ball is operated by David L Garwood, 10 Andrew Court, Troy, NY 12182, (518) 495-2003.</p>
            <p>Questions, feedback, or data requests: <a href="mailto:league.buddy.site@gmail.com" class="underline">league.buddy.site@gmail.com</a>.</p>
        </div>
    </div>
</div>
{{end}}
