{{define "title"}}Forgot Password{{end}}

{{define "main"}}
<div class="flex items-center flex-col">
    <h2>Forgot Password</h2>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/user/forgotPassword' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{range .Form.NonFieldErrors}}
                <p class="error-message-big">{{.}}</p>
            {{end}}
            <div class="mb-4">
                <label class="field-label" for="email">Email</label>
                {{$errorClass := ""}}
                {{if .Form.FieldErrors.email }}
                    {{$errorClass = "error-border"}}
                {{end}}
                <input class="form-field {{$errorClass}}" type='email' name='email' value='{{.Form.Email}}'>
                {{with .Form.FieldErrors.email}}
                    <p class="error-message">{{.}}</p>
                {{end}}
            </div>
            <div class="flex items-center justify-between">
                <button class="btn" type="submit">Submit</button>
                <div class="block">
                    <a class="text-sm" href="/user/login">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}
