{{define "title"}}Add Location{{end}}

{{define "main"}}
<div class="flex items-center flex-col">
    <h2>Add Location</h2>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/admin/location/create' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{template "location-form-fields" .}}
            <div class="flex justify-between">
                <input class="btn m-0" type='submit' value='Add'>
                <a class="btn m-0" href="/location">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{end}}
