{{define "title"}}{{.Data.FirstName}} {{.Data.LastName}}{{end}}

{{define "main"}}
{{with .Data}}
<h2 class="text-center">{{.FirstName}} {{.LastName}}</h2>
<div class="flex flex-col md:flex-row md:justify-evenly mb-4 gap-4 px-2 md:px-0">
    <div class="w-full md:w-5/12 bg-white shadow-md px-3 py-4 rounded text-center">
        <div class="flex">
            <div class="mr-2 text-right w-1/3 font-semibold">Email:</div>
            <p class="text-left">{{if .Email.Valid}}<a href="mailto:{{.Email.String}}">{{.Email.String}}</a>{{else}}&mdash;{{end}}</p>
        </div>
        <div class="flex">
            <div class="mr-2 text-right w-1/3 font-semibold">Phone:</div>
            <p class="text-left">{{if .PhoneNumber.Valid}}{{.PhoneNumber.String}}{{else}}&mdash;{{end}}</p>
        </div>
        <div class="flex">
            <div class="mr-2 text-right w-1/3 font-semibold">Date of Birth:</div>
            <p class="text-left">{{if .DateOfBirth.Valid}}{{humanDate .DateOfBirth.Time}}{{else}}&mdash;{{end}}</p>
        </div>
        <div class="flex">
            <div class="mr-2 text-right w-1/3 font-semibold">Address:</div>
            {{if .Address}}
            <p class="text-left">{{.Address.Address1.String}}{{if .Address.Address2.Valid}}, {{.Address.Address2.String}}{{end}}<br>{{.Address.City.String}}, {{.Address.StateProvince.String}} {{.Address.ZipCode.String}}</p>
            {{else}}
            <p class="text-left">&mdash;</p>
            {{end}}
        </div>
    </div>
</div>

{{$managesTeam := and .TeamID.Valid $.IsCaptain (eq $.TeamID .TeamID.Int32)}}
{{if or $.IsAdmin (eq $.PlayerID .ID) $managesTeam}}
<div class="text-center">
    <a class="btn" href="/player/update/{{.ID}}">Edit</a>
    {{if and .TeamID.Valid (or $.IsAdmin $managesTeam)}}
        <button class="btn bg-red-600 hover:bg-red-700" data-delete-url="/team/{{.TeamID.Int32}}/player/delete/{{.ID}}" data-confirm-message="Remove {{.FirstName}} {{.LastName}} from the roster?" data-redirect-url="/team/{{.TeamID.Int32}}/player">Delete</button>
    {{end}}
</div>
{{end}}
{{end}}
{{end}}
