{{define "title"}}Edit Player{{end}}

{{define "main"}}
<div class="flex items-center flex-col">
    <h2>Update {{.Form.FirstName}} {{.Form.LastName}}</h2>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/player/update' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <input type='hidden' name='player-id' value='{{.Form.ID}}'>
            {{template "player-form-fields" .}}
            <div class="flex justify-between">
                <input class="btn m-0" type='submit' value='Update'>
                <a class="btn m-0" href="/player/view/{{.Form.ID}}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{end}}
