{{define "title"}}Reset Password{{end}}

{{define "main"}}
<div class="flex items-center flex-col">
    <h2>Reset Password</h2>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/user/resetPassword' method='POST' novalidate>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <input type='hidden' name='email' value='{{.Form.Email}}'>
            {{range .Form.NonFieldErrors}}
                <p class="error-message-big">{{.}}</p>
            {{end}}
            <div class="mb-4">
                <label class="field-label">Password</label>
                {{$errorClass := ""}}
                {{if .Form.FieldErrors.password }}
                    {{$errorClass = "error-border"}}
                {{end}}
                <input class="form-field {{$errorClass}}" type='password' name='password'>
                {{with .Form.FieldErrors.password}}
                    <p class="error-message">{{.}}</p>
                {{end}}
            </div>
            <div class="mb-6">
                <label class="field-label">Confirm Password</label>
                {{$errorClass = ""}}
                {{if .Form.FieldErrors.confirmPassword }}
                    {{$errorClass = "error-border"}}
                {{end}}
                <input class="form-field {{$errorClass}}" type='password' name='confirmPassword'>
                {{with .Form.FieldErrors.confirmPassword}}
                    <p class="error-message">{{.}}</p>
                {{end}}
            </div>
            <div class="flex items-center">
                <button class="btn" type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>
{{end}}
