{{define "title"}}Edit Season{{end}}

{{define "main"}}
<div class="flex items-center flex-col">
    <h2>Update {{.Form.Name}}</h2>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/admin/season/update' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <input type='hidden' name='season-id' value='{{.Form.ID}}'>
            {{if .IsAdmin}}
                {{template "season-league-field" .}}
            {{else}}
                <input type='hidden' name='leagueID' value='{{.Form.LeagueID}}'>
            {{end}}
            {{template "season-form-fields" .}}
            <div class="flex justify-between">
                <input class="btn m-0" type='submit' value='Update'>
                <a class="btn m-0" href="/season/{{.Form.ID}}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{{end}}
