{{define "team-form-fields"}}
    {{range .Form.NonFieldErrors}}
        <p class="error-message pb-2">{{.}}</p>
    {{end}}
    <div class="mb-4">
        <label class="field-label">Name</label>
        {{$errorClass := ""}}
        {{if .Form.FieldErrors.name }}
            {{$errorClass = "error-border"}}
        {{end}}
        <input class="form-field {{$errorClass}}" type='text' name='name' value='{{.Form.Name}}'>
        {{with .Form.FieldErrors.name}}
            <p class='error-message'>{{.}}</p>
        {{end}}
    </div>
    <div class="mb-4">
        <label class="field-label">League</label>
        {{$errorClass := ""}}
        {{if .Form.FieldErrors.leagueID }}
            {{$errorClass = "error-border"}}
        {{end}}
        <select class="form-field {{$errorClass}}" name="leagueID">
            <option value="">-- Select --</option>
            {{range .SupportData}}
                {{if eq .ID $.Form.LeagueID}}
                    <option value="{{.ID}}" selected>{{.Name}}</option>
                {{else}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            {{end}}
        </select>
        {{with .Form.FieldErrors.leagueID}}
            <p class='error-message'>{{.}}</p>
        {{end}}
    </div>
{{end}}
